
<h1>Edit Task</h1>

<%= render 'form' %>

<%= link_to 'BACK TO TASKS', articles_path %>

<%= form_with(model: @article, local: true) do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :TASK %><br>

  </p>

  <p>
    <%= form.label :DETAILS %><br>
    
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
